<div class="container">
	<div class="row">
		<div class="col-md-12"><br/>
			<h1>Editing Appointment</h1>

			<%= render 'form', booking: @booking %>

			<%#= link_to 'Show', @booking %> 
			<%#= link_to 'Back', bookings_path %>
		</div>
	</div>
</div>

