<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Editing Patient</h1>

			<%= render 'form', patient: @patient %>
		</div>
	</div>
</div>


<%#= link_to 'Show', @patient %> 
<%#= link_to 'Back', patients_path %>
