<div class="container">
	<div class="row">
		<div class="col-md-12"><br/>
			<h1>Editing Appointment</h1>

			<%= render 'form', appointment: @appointment %>

			<%#= link_to 'Show', @appointment %> 
			<%#= link_to 'Back', appointments_path %>
		</div>
	</div>
</div>

